/* font-family: 'Bebas Neue', sans-serif; */

@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    URL("../fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* VARIABLES DECLARATION */
:root {
  --primaryColor: rgb(46, 98, 158);
  --primaryColorLight: rgb(66, 133, 209);

  --secondaryColor: rgb(58, 58, 58);
  --secondaryColorLight: rgb(88, 88, 88);

  --backgroundColor: rgb(249, 250, 251);
  --white: #ffffff;
  --error: rgb(228, 0, 0);
  --shadowLight: rgba(0, 0, 0, 0.1);
  --shadowMedium: rgba(0, 0, 0, 0.2);
  --shadowDark: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Mona Sans", sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
}

main {
  display: flex;
  height: 100vh;
}

.italic {
  font-style: italic;
}

.show {
  visibility: visible !important;
}

.hero-image-horizontal {
  display: none;
}

.emoji {
  font-size: 35px;
}
/* HERO-SECTION */
.hero-section {
  width: 35vw;
  min-width: 320px;
  position: relative;
}

.hero-container {
  height: 100vh;
  /* overflow: hidden; */
}

.hero-image-vertical {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-right: 4px solid;
  border-image: linear-gradient(
      to top,
      #003399,
      #336699,
      #6699cc,
      #99ccff,
      #6699cc,
      #336699,
      #003399
    )
    1;
}

.hero-logo-container {
  position: absolute;
  top: 30%;
  left: calc(50% - 4px);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.hero-logo {
  max-width: 300px;
  margin: 50px 0;
}
.hero-logo-text {
  display: none;
}

.hero-author-container {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.hero-author,
.hero-author a {
  color: var(--white);
}

/* FORM-SECTION */

.form-header,
.form-title,
.form-fieldset,
.button,
.btn-sub-text {
  margin-left: 50px;
}

.form-section {
  background-color: var(--backgroundColor);
  width: 65vw;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.form-header {
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-width: 410px;
  gap: 40px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  color: var(--secondaryColor);
}

.header-accent {
  color: var(--primaryColorLight);
  transition: 0.15s color ease;
  cursor: pointer;
}
.header-accent:hover {
  color: var(--primaryColor);
}

.form-title {
  color: var(--secondaryColor);
  letter-spacing: 0.8px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.main-form-section {
  background-color: var(--white);
  border-top: 1px solid rgba(185, 185, 185, 0.4);
  box-shadow: 0 5px 5px var(--shadowLight);
  padding-bottom: 30px;
  margin-bottom: 40px;
  width: 100%;
}

.form-fieldset {
  max-width: 37vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  margin-top: 20px;
  border: none;
  padding-bottom: 30px;
}

.input-row {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  min-width: 240px;
  max-width: 310px;
}

.input-label {
  color: var(--secondaryColorLight);
  text-transform: uppercase;
  margin-bottom: 5px;
  width: max-content;
}

.form-input {
  height: 30px;
  border: 1px solid rgba(185, 185, 185, 0.6);
  border-radius: 5px;
  padding: 6px;
  font-size: 16px;
  transition: all 0.2s ease;
}

.form-input:focus {
  border: 1px solid var(--primaryColor);
  outline: none;
  box-shadow: 0 2px 4px var(--shadow);
}

.invalid-input {
  border: 1px solid var(--error) !important;
}

.form-error-message {
  color: var(--error);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  transition: all 0.2s ease;
  visibility: hidden;
  z-index: 1;
  pointer-events: none;
}

.password-rules {
  position: absolute;
  visibility: hidden;
  min-width: 25em;
  z-index: 2;

  top: 58px;

  background-color: var(--white);
  padding: 1.125em 1.5em;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);

  /* transition: all 0.3s; */
}

.password-rules::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;

  border-bottom-color: var(--white);
  filter: drop-shadow(0 -0.0625rem 0.0625rem var(--shadow));
}

.password-rules-message {
  margin-bottom: 10px;
  color: var(--error);
}
.password-rules ul li {
  margin-bottom: 5px;
}

.password-rules ul li .rule-icon {
  color: var(--error);
}

.button {
  width: 200px;
  color: var(--white);
  background-color: var(--primaryColorLight);
  font-family: "Mona Sans", sans-serif;

  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;

  cursor: pointer;
  box-shadow: 0 4px 4px var(--shadowMedium);
}

.submit-button {
  font-size: 17px;
  font-weight: 500;

  transform: translateY(-1px);
  transition: 0.15s transform ease, 0.15s box-shadow ease,
    0.15s background-color ease;
}

.submit-button:hover {
  transform: translateY(0);
  box-shadow: 0 2px 2px var(--shadowMedium);

  background-color: var(--primaryColor);
}

.btn-sub-text {
  font-weight: 500;
}

.btn-sub-text span {
  color: var(--primaryColorLight);
  font-weight: 700;
  cursor: pointer;

  transition: 0.15s color ease;
}
.btn-sub-text span:hover {
  color: var(--primaryColor);
}

/* SPLASH */
.letter {
  font-size: 42px;
  color: #0000ff;
  font-style: italic;
  font-weight: 900;
  /* margin-right: 5px; */
}

.letter:nth-child(1) {
  color: #0044ff; /* Lighter shade of blue for the first letter */
}

.letter:nth-child(2) {
  color: #0077ff; /* Medium shade of blue for the second letter */
}

.letter:nth-child(3) {
  color: #00aaff; /* Darker shade of blue for the third letter */
}

.letter:nth-child(4) {
  color: #00ddff; /* Another shade of blue for the fourth letter */
}

.letter:nth-child(5) {
  color: #00f0f0; /* Yet another shade of blue for the fifth letter */
}

.letter:nth-child(6) {
  color: #00ccff; /* Another shade of blue for the sixth letter */
}

@media (max-width: 650px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  body {
    overflow: scroll;
  }

  .hero-image-horizontal {
    display: none;
  }
  .hero-image-vertical {
    display: block;
    max-width: 100%;
    height: 100vh;
    border-right: 0;
  }

  .hero-section {
    width: 100vw;
    /* min-height: 100vh; */
    min-width: 0;
    flex: 1;
  }
  .hero-container {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-logo-container {
    background-color: transparent;
    transform: translate(0, 0);
    top: initial;
    left: initial;
    z-index: 1;
    flex-direction: column;
  }

  .hero-logo {
    filter: drop-shadow(0 5px 30px rgb(0, 0, 0));
    margin: 0;
  }
  .hero-logo-text {
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 0px 20px rgba(59, 59, 59, 0.86),
      0px 0px 20px rgba(85, 85, 85, 0.86);
    z-index: 3;
  }

  /* FORM */
  .form-header,
  .form-title,
  .form-fieldset,
  .button,
  .btn-sub-text {
    margin-left: 0;
  }

  .form-section {
    width: auto;
    margin-bottom: 20px;
  }
  .form-content {
    height: initial;
    margin-top: 10px;
    align-items: center;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .form-header {
    width: auto;
    text-align: center;
    min-width: 0;
  }
  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-title {
    text-align: center;
  }

  .main-form-section {
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--shadowMedium);
  }

  .form-fieldset {
    grid-template-columns: 1fr;
    grid-row-gap: 0;
    place-items: center;
    width: 90vw;
    max-width: initial;
    padding-bottom: 0;
  }

  .input-row {
    width: 80vw;
    min-width: initial;
    max-width: initial;
  }

  .input-row:not(:nth-child(5)) {
    margin-bottom: 30px;
  }

  .form-label {
    margin-bottom: 3px;
  }

  .password-rules {
    position: initial;
    top: initial;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin-top: 10px;
    visibility: visible;
    min-width: 0;
  }

  .password-rules-message {
    display: none;
  }

  .fa-ul {
    margin-left: 20px;
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
    color: var(--secondaryColor);
  }
}

@media (min-width: 650px) and (max-width: 990px) {
  body {
    overflow: scroll;
  }

  .hero-image-vertical {
    display: none;
  }

  .hero-image-horizontal {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .hero-section {
    width: 100vw;
    height: auto;
  }

  .hero-container {
    height: initial;
    position: relative;
  }

  .hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/backgroundHorizontal.jpg");
    background-size: cover;
    opacity: 0.5; /* Adjust the opacity level as desired */
  }

  .hero-logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translate(0, 0);
    border-bottom: 4px solid;
    border-right: 0;
    border-image: linear-gradient(
        to right,
        #003399,
        #336699,
        #6699cc,
        #99ccff,
        #6699cc,
        #336699,
        #003399
      )
      1;
  }

  .form-section {
    width: 100vw;
  }
  .form-content {
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .form-header {
    width: 70vw;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .main-form-section {
    box-shadow: 0 5px 5px var(--shadowMedium);
  }
}
