/* font-family: 'Bebas Neue', sans-serif; */

@font-face {
  font-family: "Mona Sans";
  src: url("fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* VARIABLES DECLARATION */
:root {
  --primaryColor: rgb(46, 98, 158);
  --primaryColorLight: rgb(66, 133, 209);

  --secondaryColor: rgb(58, 58, 58);
  --secondaryColorLight: rgb(88, 88, 88);

  --backgroundColor: rgb(249, 250, 251);
  --white: #ffffff;
  --error: rgb(228, 0, 0);
  --shadowLight: rgba(0, 0, 0, 0.1);
  --shadowMedium: rgba(0, 0, 0, 0.2);
  --shadowDark: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Mona Sans", sans-serif;
}

main {
  display: flex;
}

.italic {
  font-style: italic;
}

.show {
  visibility: visible !important;
}

/* HERO-SECTION */
.hero-section {
  width: 35vw;
  min-width: 400px;
  position: relative;
}

.hero-image-container {
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-logo-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.hero-logo {
  width: 300px;
  margin: 50px 0;
}

.hero-author-container {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.hero-author,
.hero-author a {
  color: var(--white);
}

/* FORM-SECTION */

.form-header,
.form-title,
.form-fieldset,
.button,
.btn-sub-text {
  margin-left: 50px;
}

.form-section {
  background-color: var(--backgroundColor);
  width: 65vw;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.form-header {
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-width: 410px;
  gap: 40px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  color: var(--secondaryColor);
}

.header-accent {
  color: var(--primaryColorLight);
  transition: 0.15s color ease;
  cursor: pointer;
}
.header-accent:hover {
  color: var(--primaryColor);
}

.form-title {
  color: var(--secondaryColor);
  letter-spacing: 0.8px;
  margin-top: 20px;
}

.main-form-section {
  background-color: var(--white);
  border-top: 1px solid rgba(185, 185, 185, 0.15);
  box-shadow: 0 5px 5px var(--shadow);
  padding-bottom: 30px;
  margin-bottom: 40px;
  width: 100%;
}

.form-fieldset {
  max-width: 37vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  margin-top: 20px;
  border: none;
  padding-bottom: 30px;
}

.input-row {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  min-width: 240px;
  max-width: 310px;
}

.input-label {
  color: var(--secondaryColorLight);
  text-transform: uppercase;
  margin-bottom: 5px;
  width: max-content;
}

.form-input {
  height: 30px;
  border: 1px solid rgba(185, 185, 185, 0.6);
  border-radius: 5px;
  padding: 4px;
  transition: all 0.2s ease;
}

.form-input:focus {
  border: 1px solid var(--primaryColor);
  outline: none;
  box-shadow: 0 2px 4px var(--shadow);
}

.invalid-input {
  border: 1px solid var(--error) !important;
}

.form-error-message {
  color: var(--error);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  transition: all 0.2s ease;
  visibility: hidden;
  z-index: 1;
  pointer-events: none;
}

.password-rules {
  position: absolute;
  visibility: hidden;
  min-width: 25em;
  z-index: 2;

  top: 58px;

  background-color: var(--white);
  padding: 1.125em 1.5em;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);

  /* transition: all 0.3s; */
}

.password-rules::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;

  border-bottom-color: var(--white);
  filter: drop-shadow(0 -0.0625rem 0.0625rem var(--shadow));
}

.password-rules-message {
  margin-bottom: 10px;
  color: var(--error);
}
.password-rules ul li {
  margin-bottom: 5px;
}

.password-rules ul li .rule-icon {
  color: var(--error);
}

.button {
  width: 200px;
  color: var(--white);
  background-color: var(--primaryColorLight);
  font-family: "Mona Sans", sans-serif;

  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;

  cursor: pointer;
  box-shadow: 0 4px 4px var(--shadowMedium);
}

.submit-button {
  font-size: 17px;
  font-weight: 500;

  transform: translateY(-1px);
  transition: 0.15s transform ease, 0.15s box-shadow ease,
    0.15s background-color ease;
}

.submit-button:hover {
  transform: translateY(0);
  box-shadow: 0 2px 2px var(--shadowMedium);

  background-color: var(--primaryColor);
}

.btn-sub-text {
  font-weight: 500;
}

.btn-sub-text span {
  color: var(--primaryColorLight);
  font-weight: 700;
  cursor: pointer;

  transition: 0.15s color ease;
}
.btn-sub-text span:hover {
  color: var(--primaryColor);
}

/* SPLASH */
.letter {
  font-size: 42px;
  color: #0000ff;
  font-style: italic;
  font-weight: 900;
  /* margin-right: 5px; */
}

.letter:nth-child(1) {
  color: #0044ff; /* Lighter shade of blue for the first letter */
}

.letter:nth-child(2) {
  color: #0077ff; /* Medium shade of blue for the second letter */
}

.letter:nth-child(3) {
  color: #00aaff; /* Darker shade of blue for the third letter */
}

.letter:nth-child(4) {
  color: #00ddff; /* Another shade of blue for the fourth letter */
}

.letter:nth-child(5) {
  color: #00f0f0; /* Yet another shade of blue for the fifth letter */
}

.letter:nth-child(6) {
  color: #00ccff; /* Another shade of blue for the sixth letter */
}
/* 
@media (max-width: 1030px) {
  fieldset {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
} */
